{% extends "share/base.html" %}
{% load getattribute %}
{% load l10n %}
{% load jformat %}

{% block content %}

<div class="row ">
    <div class="col-md-8 col-sm-6 border text-center">
        اعضای هییت مدیره
        <table class="table">
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>کد ملی</th>
                <th>سمت</th>
                <th>تعداد سهام</th>
                <th>مدرک تحصیلی</th>
            </tr>
            {% for person in persons %}
            <tr>
                <td>{{person.fname}}</td>
                <td>{{person.lname}}</td>
                <td>{{person.national_code}}</td>
                <td>{{person.get_position_display}}</td>
                <td>{{person.number_of_shares}}</td>
                <td>{{person.get_degree_display}}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table">
            اطلاعات تماس
            <tr>
                <th>ایمیل</th>
                <th>تلفن</th>
                <th>سایت</th>
                <th>آدرس</th>
            </tr>
            <tr>
                <td>{{object_list.0.email}}</td>
                <td>{{object_list.0.phone_number}}</td>
                <td>{{object_list.0.site}}</td>
                <td>{{object_list.0.address}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4 col-sm-6 border text-center">
        <table class="table">
           اطلاعات مالی
            <tr>
                <th>شناسه ملی</th>
                <th>کد اقتصادی</th>
            </tr>
            <tr>
                <td>{{object_list.0.national_code}}</td>
                <td>{{object_list.0.economic_id}}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}