*{
    direction: rtl;
    font-family: IRANSans;
}
body{
    
    margin: 0;
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
    font-weight: normal;
    
	src: url('../fonts/eot/IRANSansWeb.eot');
	src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}


th{
    text-align: center;
    background-color: rgb(161, 159, 159);
    border: 1px solid black;
}
td{
    text-align: center;
    border: 1px solid black;
}
table{
    border-spacing: 0;
}