{% extends "share/base.html" %}
{% load getattribute %}
{% load l10n %}
{% load jformat %}

{% block content %}

<a href="{% url add_url_name %}" class="btn btn-dark" target="blank">جدید</a>
<div id='data-list'>
    <table class="table table-striped mt-4">
      <tr>
        <!-- if select checkbox is tru you will seel check box in the first of all rows-->
        {% if select_checkbox %}
        <th><input type="checkbox">همه</th>
        {% endif %}

        {% for title in titles %}
        <th>
          {{title}}
        </th>
        {% endfor %}

        <!-- if opration button is true the you will see opration button in last col -->
        {% if opration_buttons %}
        <th>عملیات</th>
        {% endif %}

      </tr>
      <!-- check if exist any object -->
      {% if objects %}
      <!-- loop through objects for display in html file -->
      {% for object in objects %}
      <tr>
        <!-- if opration button is true the you will see opration button in last col -->
        {% if select_checkbox %}
        <td><input type="checkbox"></td>
        {% endif %}
        <td>{{forloop.counter}}</td>

        {% for field in field_names %}
        {% if field == "year" %}
        <!--check if field is year the disable separator for it-->
        {% localize off %}
        <td>{{ object|getattribute:field }}</td>
        {% endlocalize %}

        {% elif field == "date" %}
        <!--check if field is year the disable separator for it-->
        {% localize off %}
        <td>{{ object|getattribute:field|jformat:"%Y/%m/%d" }}</td>
        {% endlocalize %}

        {% else %}
        <td>{{ object|getattribute:field }}</td>
        {% endif %}
        {% endfor %}

        <!-- if opration button is true the you will see opration button in last col -->
        {% if opration_buttons %}
        <td>
          {% for key,values in opration_buttons.items %}
          <a class='opration_btn' href="{% url values.1 id=object.id %}" name={{object.id}} onclick={{key}}>{{values.0}}</a>
          {% endfor %}
        </td>
        {% endif %}

      </tr>
      {% endfor %}
      {% endif %}
    </table>
  </div>
{% endblock %}
