<nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
  <a class="navbar-brand " href="#">شرکت آروین کیان سازه</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'pages:home' %}">خانه<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          اطلاعات پایه
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'baseinfo:companyInfo-list' %}">اطلاعات شرکت</a>
          <a class="dropdown-item" href="{% url 'baseinfo:employer-list' %}">اطلاعات کارفرمایان</a>
          <a class="dropdown-item" href="{% url 'baseinfo:contract-list' %}">اطلاعات قراردادها</a>
          <a class="dropdown-item" href="{% url 'baseinfo:bank-list'     %}">اطلاعات حسابها</a>
          <a class="dropdown-item" href="{% url 'income:income-list'     %}">اطلاعات درآمدها</a>
          <a class="dropdown-item" href="{% url 'income:buy-list'        %}">اطلاعات خریدها</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          گزارشات
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'income:declaration'    %}">اظهارنامه مالیاتی</a>
          <a class="dropdown-item" href="#">اظهارنامه ارزش افزوده</a>
          <a class="dropdown-item" href="{% url 'income:season-report'  %}">اظهارنامه ماده 169</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">تماس</a>
      </li>



      <form class="form-inline">
        <input class="form-control mr-md-2 mx-lg-1 ml-sm-0" type="search" placeholder="جستجو" aria-label="جستجو">
        <button class="btn btn-outline-light bg-dark my-5 my-sm-0" type="submit">جستجو</button>
      </form>
      {% if user.is_authenticated %}
      <a href="{% url 'pages:home' %}" class="nav-link mr-auto">{{user.username}}خوش آمدید</a>
      <li class="nav-item ml-3">
        <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
          <i class="fas fa-sign-out-alt"></i> خروج
        </a>
        <form action="{% url 'accounts:logout' %}" method="POST" id="logout">
          {% csrf_token %}
          <input type="hidden" >
        </form>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">ورود</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'accounts:register' %}">ثبت نام</a>
      </li>
      {% endif %}


    </ul>

  </div>

</nav>